.calculator{
    width: 30vw;
    height: 70vh;
    border: 1px solid black;
    margin: auto;
    margin-top: 100px;
    padding: 20px;
    display: grid;
    gap: 5px;
    background-color: black;
    border-radius: 10px;
}

.calculator>.form-group{
    display: flex;
    justify-content: space-between;
    gap: 5px;
}

.calculator>.form-group>button{
    width: 25%;
    border: none;
    border-radius: 50%;
    font-size: 20px;
    outline: none;
    background-color: rgb(29, 27, 27);
    color: aliceblue;
}
.calculator>.form-group>button:hover{
    background-color: rgb(70, 66, 66);
}

.calculator>.form-group>input {
    width: 100%;
    border: none;
    outline: none;
    text-align: end;
    height: 100px;
    background-color: black;
    border-radius: 5px;
    font-size: 30px;
    color: aliceblue;
    padding-right: 10px;
}

.calculator>.form-group>.symbol {
    background-color: rgb(88, 86, 86);
}
.calculator>.form-group>.symbol:hover {
    background-color: rgb(154, 150, 150);
}

.calculator>.form-group>.symbol1{
    background-color: rgb(255, 145, 0);
}
.calculator>.form-group>.symbol1:hover{
    background-color: rgb(247, 157, 39);
}

